@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    /* colors */
    --cream: #FFF7F0;
    --brown: #7A746E;
    --black: #030303;
    --galactic-blue: #755CDE;
    --summer-yellow: #F6A560;
    --pink: #F39E9E;
    --red: #EB7565;
    --cyan: #61C4B7;
    --purple: #552049;
    --white: #ffffff;

    /* typography */
    --heading-l: 3.5rem;
    --heading-m: 2.5rem;
    --heading-s: 2rem;
    --body-m: 1.125rem;
}

*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cream);
    color: var(--black);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: "Plus Jakarta Sans", sans-serif;
}

button {
    border-radius: 999px;
    font-size: 0.875rem;
    color: var(--cream);
    font-weight: 600;
    padding: 0.8125rem 1.75rem;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--galactic-blue);
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 3rem;
    height: 3rem;
}

header button, footer button {
    background-color: var(--black);
}

main {
    gap: 6.25rem;
}

main .col {
    gap: 2rem;
}

.text__container {
    gap: 1rem;
    text-align: center;
    padding-inline: 29px;
}

.text__container h1 {
    font-size: 35px;
}

.text__container .description {
    font-size: 1rem;
    color: var(--brown);
    line-height: 26px;
    width: 17.8125rem;
}

.design__cards {
    gap: 1.5rem;
}

.col__1 .card, .photography__motion .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.75rem;
    padding: 1.5rem;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 600;
}

.card img {
    align-self: flex-end;
}

.col__1, .col__1 .grouped__cards, .photography__motion {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.photography__motion {
    width: 100%;
}

.col__2 {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    height: 11.375rem;
    width: 100%;
}


.graphics {
    background-color: var(--galactic-blue);
    height: 22.75rem;
    width: 100%;
}

.graphics img {
    width: 8rem;
    height: 12rem;
}

.ui {
    background-color: var(--summer-yellow);
    flex: 1;
}

.ui img, .apps img{
    width: 4rem;
    height: 4rem;
}

.apps {
    background-color: var(--pink);
    flex: 1;
}

.illustrations {
    background-color: var(--red);
    height: 9.875rem;
}

.photography, .motion {
    height: 11.375rem;
    /* flex: 1; */
}

.photography {
    background-color: var(--cyan);
}

.motion {
    background-color: var(--purple);
}

.bottom__container {
    gap: 2.5rem;
}

.inner__container {
    gap: 6.25rem;
}

.profile, .work {
    gap: 2rem;
}

.profile img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.profile__details {
    gap: 1.5rem;
    text-align: center;
}

.profile__details h3 {
    font-size: 1.625rem;
}

.profile__details p {
    font-size: 1rem;
    color: var(--brown);
}

.profile__details button, .book button {
    background-color: var(--red);
}

.profile__details button:hover, .book button:hover {
    background-color: var(--summer-yellow);
}

.work h4 {
    font-size: 1.5rem;
}

.work .slide__show {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.work .slide__show-track {
    display: flex;
    animation: slideLeft 25s linear infinite;
    width: calc(100% * 10);
}

.work .slide__show-track img {
    width: 100%;
}

@keyframes slideLeft {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-500%);
    }
}

.controls {
    display: flex;
    gap: 1rem;
}

.controls .btn {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls .btn:hover {
    background-color: var(--galactic-blue);
    cursor: pointer;
}

.book {
    gap: 1.5rem;
    padding: 3rem 1.5rem;
    text-align: center;
    border-radius: 0.75rem;
    background-color: var(--black);
    color: var(--cream);
}

.book h3 {
    font-size: 26px;
}


/* media queries */
@media only screen and (min-width: 768px){
    body {
        padding: 2.125rem 2.5rem;
        gap: 4rem;
    }

    main {
        gap: 7.5rem;
    }

    .text__container {
        padding-inline: 3.625rem;
        gap: 1.6875rem;
    }
    
    .text__container h1 {
        font-size: 2.65rem;
    }

    .text__container .description {
        width: 573px;
        padding-inline: 1.5rem;
    }

    main .col {
        gap: 4rem;
    }

    .col__1, .photography__motion {
        flex-direction: row;
        justify-content: space-between;
    }
   

    .grouped__cards, .graphics {
        width: 50%;
    }

    .photography, .motion {
        flex: 1;
    }

    .profile {
        flex-direction: row;
    }

    .profile, .work, .bottom__container {
        gap: 3.5rem;
    }

    .profile__details {
        align-items: flex-start;
        text-align: left;
    }

    .inner__container {
        gap: 7.5rem;
    }

    .book {
        padding: 56px 75px;
    }

    .book h3 {
        font-size: 2rem;
    }

    .book p {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    body {
        margin-inline: auto;
        padding: 34px 165px;
    }

    .design__cards {
        flex-direction: row;
        height: 22.75rem;
        width: 100%;
    }

    .grouped__cards {
        width: 100%;
    }

    .col__2 {
        flex: 1;
        width: 100%;
    }

    .col__1, .photography__motion {
        flex: 1;
    }

    .photography__motion {
        flex-direction: column;
    }

    
    
}